.firstBox{
  background-image: url("../07_resources/images/javascriptBGImage.jpg");
  min-height: 50%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.firstBox img{
    width: 300px;
    max-width: 20%;
    height: auto;
}

.sidebar{
    border-right-color: #f7df1e;
    border-right-width: 4px;
    border-right-style: solid;
}

.sidebar.active{
    background: linear-gradient(to left, #f7df1e, #003247);
}