.firstBox{
    /* The image used */
background-image: url("../07_resources/images/frameworksBGImage.jpg");

/* Set a specific height */
min-height: 50%;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.firstBox img{
    width: 300px;
    max-width: 20%;
    height: auto;
}

.sidebar{
    border-right-color: #865d3d;
    border-right-width: 4px;
    border-right-style: solid;
}

.sidebar.active{
    background: linear-gradient(to left, #865d3d, #003247);
}

.fmBGgradient{
    background: linear-gradient(to left, #8197a6, white);
}
